<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBk5YRJE9bVi2cALe-3xk0aXwsDn_nZEn4</string>
	<key>GCM_SENDER_ID</key>
	<string>454339662971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demoproject</string>
	<key>PROJECT_ID</key>
	<string>novo121krish</string>
	<key>STORAGE_BUCKET</key>
	<string>novo121krish.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:454339662971:ios:d0b5bfdb0778f8ee10bede</string>
	<key>DATABASE_URL</key>
	<string>https://novo121krish-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>